<div class="mb-5" fxLayout="row" fxLayoutAlign="center" fxLayoutGap.xs="30px" fxLayoutGap.gt-xs="50px">
    <div fxFlex="40">
        <h1 class="mat-display-2 text-secondary text-center my-2">
            <u><em>ABOUT</em></u>
        </h1>
        <div class="text-center py-1">
            <img src="../../assets/img/selfie_edited.jpg" alt="" class="img-fluid center-block my-2" width="">
        </div>
        <div>
        <p class="lead text-center text-dark my-1">
            I started programming with java as my first programming language in the University, nevertheless the
            interest to learn programming came later and i decided to learn HTML, Javascript to build some awesome
            websites. I have been studying Front-End Web Development, completing a range of projects, online courses and tutorials from FreeCodeCamp, Udemy, Youtube etc. I am currently passionate to learn Frontend web development and working with Angular.
        </p>
        <br>
        <p class="lead text-center text-dark my-1">Apart from web development, i like to watch movies and i love dogs!
        </p>
        </div>
    </div>
    <div fxFlex="40">
        <h1 class="mat-display-2 text-secondary text-center my-2">
            <u><em>SKILLS</em></u>
        </h1>
        <mat-card class="text-center my-3" *ngFor="let skill of skills">
            <mat-card-title>{{skill.type}}</mat-card-title>
            <mat-card-content>
                <p>{{skill.names.join(', ')}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
