<div class="row">
    <div class="col-sm-6">
        <h1 class="text-secondary text-center my-2">
            <u><em>ABOUT</em></u>
        </h1>
        <div class="text-center py-1">
            <img src="../../assets/img/vladmir.jpg" alt="" class="img-fluid center-block my-2" width="15%">
        </div>
        <p class="lead text-center text-secondary my-2">
            I started programming with java as my first programming language in the University, nevertheless the
            interest to learn programming came later and i decided to learn HTML, Javascript to build some awesome
            websites. I am currently passionate to learn Frontend web development and working with Angular.
        </p>
        <br>
        <p class="lead text-center text-secondary my-2">Apart from web development, i like to watch movies and i love dogs!
        </p>
    </div>
    <div class="col-sm-6">
        <h1 class="text-secondary text-center my-2">
            <u><em>SKILLS</em></u>
        </h1>
        <div *ngFor="let skill of skills">
            <ul class="list-group my-2 text-center text-primary">
                <li class="list-group-item font-weight-bold">
                    {{skill.type}} :
                    <br>
                    <ul class="list-group my-2">
                        <li class="list-group-item font-italic">
                            {{skill.names.join(', ')}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
