    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary mb-5">
        <div class="container">
            <a class="navbar-brand" routerLink="/">Home</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/portfolio" class="nav-link">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About & Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profiles</a>
                </li>
            </ul>
        </div>
    </nav>
