.project-card {
    height: 150px;
    background-color: #17ff5d;
    position: relative;
}

.detail-button {
    position: absolute;
    bottom: 10px;
}

mat-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icon-link, a {
    margin-left: 10px;
}



/* mat-card-content {
    display: flex;
    flex-direction: column;
}

mat-card-actions {
    margin-top: auto;
} */