<!-- <div class="card h-100">
    <div class="card-body bg-primary"
        [ngClass]="{'bg-success':project.isFeatured}">
        <h4 class="card-title">{{ project.name }}</h4>
        <p class="card-text">
            {{ project.description }}
        </p>
        <button class="btn btn-primary" (click)="openDialog()">More Details</button>
    </div>
</div> -->

<mat-card class="project-card">
    <mat-card-header>
        <mat-card-title>{{ project.name }}</mat-card-title>
        <div class="icon-link">
            <a matTooltip="Live Website" *ngIf="project.liveUrl" href="{{project.liveUrl}}">
                <mat-icon>live_tv</mat-icon>
            </a>
            <a matTooltip="Github" *ngIf="project.projectLink" href="{{project.projectLink}}">
                <mat-icon svgIcon="github"></mat-icon>
            </a>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ project.description }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button class="detail-button" mat-raised-button color="accent" (click)="openDialog()">More Details</button>
    </mat-card-actions>
</mat-card>