<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center mb-3">
            <p class="text-secondary">Hi, sort my projects by clicking the categories.</p>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center mb-3">
            <h2 class="text-secondary"><span>Portfolio</span></h2>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center mb-3">
            <app-projects></app-projects>
        </div>
    </div>
</div>