.image{
    height:68em;
    background-size:cover; 
    width:auto;
    background-image:url('src\assets\img\bg-pink.jpg');
  }
  
  mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav  {
    width: 250px;
}
 
