<div class="column my-5">
    <img src="../../assets/img/selfie_edited.jpg" alt="" class="img-fluid ">
</div>

<div class="column">
    <h1 class="text-center mat-display-1 my-3">
        Business Informatic Student | Web-Developer
    </h1>
</div>

<div class="column">
    <blockquote class="blockquote my-3">
        <q class="text-center">Help others in the way of self-learning</q>
    </blockquote>
</div>

<div class="column mb-5">
    <h2 class="text-center mat-display-1 my-3">Welcome to my First Portfolio Website</h2>
</div>