<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <img src="../../assets/img/vladmir.jpg" alt="" class="img-fluid center-block" width="15%">
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <h4 class="text-center text-secondary my-3">
                Student Wirtschaftsinformatik | Web-Developer | Immortal Player
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <blockquote class="blockquote my-3">
                <q class="text-center">Help others in the way of self-learning</q>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <h2 class="text-center text-danger my-3">Terrence Loe</h2>
        </div>
    </div>

</div>